<%= content_for :head do %>
<h1>Sign Up</h1>

<%= form_for @event do |f| %>
	<div class="field">
		<%= f.label :email, :"What is your e-mail address ?"%><br />
		<%= f.email_field :email, :autofocus => true  %>
	</div>
	<br />
	<div class="actions">
		<%= f.submit "Next" %>
	</div>

<% end %>
<% end %>

 <%= params.inspect%>